/* General style */
body {
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}
/*header and navigation */
header {
    background-color: #004080;
    color: White;
    text-align: center;
    padding: 20px;

}
nav ul {
    list-style: none;
    padding: 0;

}
nav ul li {
    display: inline;
    margin: 0 15px;

}
nav ul li a {
    color: white;
    text-decoration: none;

}
nav ul li a:hover {
    text-decoration: underline;
    color: yellow;

}
/* Section styling */
section {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;

}
/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;

}
table,th,td {
    border: 1px solid #666;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #004080;
    color: white;
}
/* form stlying */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}
input, textarea, button{
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid#ccc;
    border-radius: 5px;

}
button {
    background-color: #004080;
    color: white;
    cursor: pointer;

}
button:hover {
    background-color: #00264d;

}
/* footer */
footer {
    text-align: center;
    background-color: #004080;
    color: white;
    padding: 10px;
}
/* header */
header {
    text-align: center;
    background-color:#004080;
    color: white;
    padding: 10px;
}
image {
    margin-top: 20px;
    padding: 10px;
    border: 15px;
}